@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');

.body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #161b2c;
  background-image: url('../images/pattern.png');
  background-position: 0px 0px;
  background-size: 98px;
}

.image {
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.section {
  display: block;
  width: 760px;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 2px;
  background-color: #fff;
}

.heading {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 0px;
  font-family: 'Arima Madurai', cursive;
  color: #fff;
  line-height: 55px;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
}

.paragraph {
  padding-right: 200px;
  padding-left: 200px;
  opacity: 1;
  font-family: 'Arima Madurai', cursive;
  color: #fff;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.5px;
}

.button {
  display: block;
  width: 360px;
  margin: 25px auto 50px;
  border-radius: 4px;
  background-color: #d94646;
  font-family: 'Arima Madurai', cursive;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.video {
  width: auto;
  height: 439px;
  margin-bottom: 50px;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-top: 0px;
  margin-bottom: 50px;
}

.text-block {
  margin-top: 25px;
  font-family: 'Arima Madurai', cursive;
  color: #f6efe9;
  line-height: 24px;
  text-align: center;
}

.text-block-2 {
  opacity: 0.25;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.5px;
}

.container {
  font-family: 'Arima Madurai', cursive;

}

.section-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.form-block {
  display: block;
  width: 690px;
  margin: 50px auto 0px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.submit-button {
  display: block;
  width: 310px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 30px;
  float: none;
  border-radius: 4px;
  background-color: #d94646;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.text-field {
  float: left;
}

.field-label {
  margin-top: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.field-label-2 {
  font-weight: 400;
  text-transform: uppercase;
}

.field-label-3 {
  margin-top: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.field-label-4 {
  margin-top: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.field-label-5 {
  margin-top: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.heading-2 {
  margin-top: 30px;
  font-weight: 500;
  text-align: center;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.slide {
  height: 330px;
}

.image-4 {
  display: block;
  margin: 40px auto;
  padding-top: 0px;
}

.section-3 {
  margin-top: 50px;
}

.dropdown-toggle {
  width: 340%;
  border: 1px solid #ccc;
}

.dropdown-link {
  width: 460px;
}

.textarea {
  display: inline-block;
  margin-top: 20px;
  font-family: Inconsolata, monospace;
  font-size: 18px;
}

.radio-button {
  width: auto;
}

.image-5 {
  display: block;
  width: auto;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.image-6 {
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.heading-3 {
  font-family: 'Arima Madurai', cursive;

  color: #fff;
  font-weight: 400;
  text-align: center;
}

.row-2 {
  margin-top: 40px;
}

.column-4 {
  position: relative;
  top: 250px;
}

.text-block-3 {
  padding-right: 100px;
  padding-left: 100px;
  font-size: 18px;
  text-align: center;
}

.heading-4 {
  text-align: center;
}

.paragraph-2 {
  margin-top: 30px;
  padding-right: 100px;
  padding-left: 100px;
  font-size: 18px;
  text-align: center;
}

.html-embed {
  display: block;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .section {
    width: auto;
  }
  .video {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 479px) {
  .image {
    width: 80%;
    margin-top: 25px;
  }
  .section {
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 0px;
  }
  .paragraph {
    padding-right: 20px;
    padding-left: 20px;
  }
  .button {
    width: 290px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 12px;
  }
  .video {
    display: none;
    overflow: visible;
  }
  .form-block {
    width: auto;
    margin-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .submit-button {
    width: 100%;
  }
  .column {
    padding-bottom: 30px;
  }
  .column-2 {
    padding-bottom: 30px;
  }
  .column-3 {
    padding-bottom: 30px;
  }
  .column-4 {
    position: static;
  }
}

