
@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.paper {
    position: relative;
    width: 100%;
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.paper-content {
    position: static;
    top: 30px;
    right: 0;
    left: 0px;
    background: linear-gradient(transparent, transparent 38px, #cccc 38px);
    background-size: 38px 38px;
}

.paper-content div {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    line-height: 36px;
    padding: 0 10px;
    border: 0;
    outline: 0;
    background: transparent;
    font-family: 'Special Elite', cursive;
    font-size: 24px;
    box-sizing: border-box;
    z-index: 1;
    overflow: auto;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 100%;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #000;
  background-color: #fff;
  border: 1px solid #cccccc;
  padding: 10px 15px;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  
}
.select-styled:active, .select-styled.active {
  
}

.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 5px 0 0 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
}

.select-options li {
  margin: 0;
  padding: 10px 0;
  text-indent: 15px;
  border-top: 1px solid #ccc;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: #000;
}

.select-options li:first-child {
  border-top: 0px solid #fff;
}

.select-options li:hover {
  color: #000;
  background: #fff;
}
.select-options li[rel="hide"] {
  display: none;
}


.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: normal;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: 0px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
}
.control--radio .control__indicator {
  border-radius: 50%;
}
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}
.control input:checked ~ .control__indicator {
  background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #0e647d;
}
.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
}
.control--radio .control__indicator:after {
  left: 6px;
  top: 6px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #fff;
}
.control--radio input:disabled ~ .control__indicator:after {
  background: #7b7b7b;
}





